/*
    All styles are currently placeholders.
*/

body {
    background-color: midnightblue;
}

#container {
    background-color: snow;
}

header {
    background-color: turquoise;
}

section {
    background-color: purple;
}

.project {
    background-color: blue;
}

