/*
    All styles are currently placeholders.
*/

* {
    color: #161416;
    box-sizing: border-box;
}

a {
    font-weight: bold;
}

a:link {
    color: #161416;
}

a:visited {
    color: #161416;
}

a:active {
    color: #3d003d;
}

p {
    text-align: left;
    font-size: 1.1em;
}

h1 {
    font-size:3em;
    margin: 0.5em;
    color: snow;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

img {
    border-radius: 5%;
}

body {
    background-color:  #1e181f;
}

#container {
    background-color: #000d1a;
    background: url(../img/bg2.jpg) repeat center top;
    background-size: contain;
    overflow: auto;
}

#content {
    text-align: center;
    padding: 0;
    width:900px;
    margin:0 auto;
    /*background-color: #1a0033;*/
    vertical-align: top;
}

header, footer {
    /*margin:2em auto 1em;*/
    display: block;
    margin: 0;
    text-align: center;
    /*padding:1em;*/
    vertical-align: center;
    /*display: inline-block;*/
    /*color: snow;*/
    color: snow;
    /*border-radius: 0 0 2em 2em;*/
}
#portrait {
    display: inline-block;
}
#title {
    display: inline-block;
}

#title > p {
    display:inline;
    font-weight: bold;
    font-size: 1em;

}

#selfPhoto {
    /*margin-top: 1em;*/
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#description {
    text-align: center;
}

footer > p {
    display: inline-block;
    text-align: center;
    color: snow;
}

section {
    margin: 1em auto;
    /*margin-left: auto;
    margin-right: auto;*/
    padding: 1em 1em;
    /*color: snow;*/
    background-color:  #fefeffec;
    /*width: 90%;*/
    border-radius: 1em;
    overflow: auto;
}

.project {
    /*background-color:  #0080ff-->;*/
    /*padding: 0.5em 0;*/
    /*align-content: center;*/
    margin: 0.5em;
    border-radius: 1em;
    overflow: auto;
}

.links {
    align-content: center;
    display: inline-block;
    margin: auto;
}

.row {
    display:flex;
    margin: 0;
    /*background-color: #004080;*/
    padding: 0;
}

.textcolumn {
    margin: 0 auto;
    padding: 0.5em;
    /*background-color: green;*/
    /*flex:75%;*/
}

.imagecolumn {
    margin-left: auto;
    padding: 0em;
    /*width:50%;*/
    /*background-color: yellow;*/
    /*flex:20%;*/
}

.imagecolumn > img {
    /*width: 33%;*/
    width: 100%;
    margin: 0;
    object-fit: contain;
}

.screenshots {
    align-content: center;
    padding: 0em;
    display:flex;
}

.screenshots > img {
    width: 33%;
    height: 100%;
    margin: 1em auto;
    object-fit: contain;
}

#contactform {
    width: 100%;
}

ul.contact {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.contact {
    display: flex;
}

#form_name, #form_email, #form_message, #form_submit {
    padding:0.8em;
    margin:0.8em;
    border: 2px;
    border-style: solid;
    border-radius: 0.4em;
}

#form_name, #form_email {
    flex-grow: 1;
}

#form_submit {
    align-self: center;
}

#form_message {
    width:100%;
    resize: none;
}

.filterbar {
    font-size:1.1em;
}

.filterlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filteritem {
    display: inline-block;
    background-color: #c5c5c5;
    border-radius: 0.5em;
    padding: 0.2em;
}

.animated {
    transition: color 0.5s, background-color 0.2s;
}

li.all {
    background-color: #4d034d;
    color:snow;
}
