/*
    All styles are currently placeholders.
*/

* {
    color: snow;
}

a {
    font-weight: bold;
}

a:link {
    color: snow;
}

a:visited {
    color: gainsboro;
}

a:active {
    color: greenyellow;
}

p {
    text-align: left;
}

h1 {
    font-size:3.5em;
}

img {
    border-radius: 5%;
}

body {
    background-color: #0d0d0d;
}

#container {
    text-align: center;
    padding: 0;
    width:90%;
    margin:0 auto;
    /*background-color: #1a0033;*/
    vertical-align: top;
}

header {
    /*margin:2em auto 1em;*/
    margin: 0;
    text-align: center;
    padding:1em;
    vertical-align: center;
    /*display: inline-block;*/
    /*color: snow;*/
    background-color: #666699;
    /*border-radius: 0 0 2em 2em;*/
}
#portrait {
    display: inline-block;
}
#title {
    display: inline-block;
    align-content: center;
}

#title > p {
    display:inline;
    font-weight: bold;
    font-size: 1em;
}

footer > p {
    text-align: center;
}

section {
    margin: 1em auto;
    /*margin-left: auto;
    margin-right: auto;*/
    padding: auto;
    /*color: snow;*/
    background-color: #666699;
    width: 90%;
    border-radius: 1em;
    overflow: auto;
}

.project {
    background-color:  #3d3d5c;
    /*padding: 0.5em 0;*/
    margin: 0.5em;
    border-radius: 1em;
    overflow: auto;
}

/*.links {
    display: inline-block;
    margin: auto;
}*/

.row {
    display:flex;
    background-color: #52527a;
    border-radius: 1em;
    padding: 0.5em;
}

.textcolumn {
    margin: 0 auto;
    padding: 0.5em;
    /*background-color: green;*/
    /*flex:75%;*/
}

.imagecolumn {
    margin-left: auto;
    padding: 0em;
    /*background-color: yellow;*/
    /*flex:20%;*/
}

